button {
    background-color: #2a2a2a;
    border: 1px solid #636363;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    outline: none;
    padding: 10px;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

button:hover:not([disabled]) {
    background-color: white;
    color: #2a2a2a;
    cursor: pointer;
}

button:disabled {
    background-color: #3a3a3a;
    cursor: not-allowed;
    transition: none;
}