.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 10px 20px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1%;
    min-height: 40px;
    width: 100%;
    max-width: 100%;
}

.row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 50px;
}

.row [class*="c-"] {
    min-height: 20px;
}

.row [class*="c-"]:not([class*="o-"]) {
    margin-left: 1%;
}

.row [class*="c-"]:first-child:not([class*="o-"]) {
    margin-left: 0;
}

.row .c-1 {
    width: 8.33333333333%;
}

.row .c-2 {
    width: 16.6666667%;
}

.row .c-3 {
    width: 25%;
}

.row .c-4 {
    width: 33.3333333333%;
}

.row .c-5 {
    width: 41.6666666667%;
}

.row .c-6 {
    width: 50%;
}

.row .c-7 {
    width: 58.3333333333%;
}

.row .c-8 {
    width: 66.6666666667%;
}

.row .c-9 {
    width: 75%;
}

.row .c-10 {
    width: 83.3333333333%;
}

.row .c-11 {
    width: 91.6666666667%;
}

.row .c-12 {
    width: 100%;
}

.row .o-1 {
    margin-left: 8.33333333333%;
}

.row .o-2 {
    margin-left: 16.6666667%;
}

.row .o-3 {
    margin-left: 25%;
}

.row .o-4 {
    margin-left: 33.3333333333%;
}

.row .o-5 {
    margin-left: 41.6666666667%;
}

.row .o-6 {
    margin-left: 50%;
}

.row .o-7 {
    margin-left: 58.3333333333%;
}

.row .o-8 {
    margin-left: 66.6666666667%;
}

.row .o-9 {
    margin-left: 75%;
}

.row .o-10 {
    margin-left: 83.3333333333%;
}

.row .o-11 {
    margin-left: 91.6666666667%;
}

.row .o-12 {
    margin-left: 100%;
}

@media screen and (max-width: 768px) {
    .row {
        flex-wrap: wrap;
        margin: 0;
    }

    .row-center {
        flex-wrap: wrap;
        margin: 0;
    }

    .row [class^="c-"], .row [class*=" c-"] {
        margin: 1%;
        flex: 0 0 100%;
    }
}