.container {
    max-width: 950px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1%;
    min-height: 40px;
    width: 100%;
    max-width: 100%;
}

.row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 50px;
}

.row [class^="col-"], .row [class*=" col-"] {
    margin: 0 1%;
    min-height: 0;
}

.row .col-1 {
    width: 8.16666667%;
}

.row .col-2 {
    width: 16.3333333333%;
}

.row .col-3 {
    width: 24.5%;
}

.row .col-4 {
    width: 32.6666666667%;
}

.row .col-5 {
    width: 40.8333333333%;
}

.row .col-6 {
    width: 49%;
}

.row .col-7 {
    width: 57.1666666665%;
}

.row .col-8 {
    width: 65.3333333333%;
}

.row .col-9 {
    width: 73.5000000002%;
}

.row .col-10 {
    width: 81.6666666667%;
}

.row .col-11 {
    width: 89.8333333333%;
}

.row .col-12 {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .row {
        flex-wrap: wrap;
        margin: 0;
    }

    .row-center {
        flex-wrap: wrap;
        margin: 0;
    }

    .row [class^="col-"], .row [class*=" col-"] {
        margin: 1% 5%;
        width: 100%;
    }
}